<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <title>TUGRULFALL</title>


</head>
<body>

    <form method = "post" class="form-inline" > <!--action = "/newGame" -->
        <input type="text" name="username" placeholder="What's your name?" value="{{request.form.username}}">
        <input class="btn btn-default" id="newgame" name="newgame" type="submit" >
    </form>


    <form method = "post" action = "/joinGame" class="form-inline">
        <input type="text" name="username" placeholder="What's your name?" value="{{request.form.username}}">
        <input type="text" name="gameID" placeholder="Enter your Access Code" value="{{request.form.gameID}}">
        <input class="btn btn-default" id="joinGame" name="JOIN GAME" type="submit" >

    </form>


    <p>{{ error }}</p>
    <!--<button>Create</button>
    <button>Back</button>
    <button id="join">JOIN GAME</button>-->

    <p>Tugrulfall is a spyfall clone with new features!
    New placed replaced with old ones but the amount is not changed!
    After the countdown the
    Scoreboard!
    NEW!! AGENT MODE: If you turn it on, you will have 0 or 1 or 2 agents in the game.
    The agent tries to catch the spy but he does not know who he is nor the whereabouts of the civilians.
    At the end of the countdown the group will decide either to reveal the agent (ONLY ONE) end let him decide or does not reveal him and vote for the spy.
    Revealing the agent favors agent heavily and group lightly if he busts the spy.
    Revealing the agent narrows the options in catching the spy.
    There are heavy drawbacks for group if the agent fails.
    Voting the spy does not favor anyone.
    Note: The spy will be given the number of agents in the game so that he can pretend to be one.
    Note: The second agent will know he is the second agent and cannot get a promotion. So it's better for him to vote the spy.
    Note: The second agent

    Scores:
    Spy is voted and cannot guess the place: Group: +2
    Spy is voted but knows the place: Spy: +1, Group: +1
    Spy is not voted and know the place: Spy: +2,
    Spy is not voted, knows the place and agent: Spy: +2 and +1 per agent.

    Agent is revealed, but cannot bust the spy: Spy: +2
    Agent is revealed and busts the spy, spy does not know the place: Agent: +4 Group: +1
    Agent is revealed, the spy is busted but spy knows the place: Agent: +1 Spy: +1

    No agent is revealed: Spy: +3</p>


</body>
    <!--<script type = "text/javascript" src="{{ url_for('static', filename='comm.js') }}"></script>
    -->
    <script type = "text/javascript" src="{{ url_for('static', filename='jquery-3.1.0.min.js') }}"></script>


</html>